NEXT_PUBLIC_SUPABASE_URL=https://fnqovsuilqcawjupjrlc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Oee7OVhQdE1Z6VAGdWXjRw_TS1L8mPf
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZucW92c3VpbHFjYXdqdXBqcmxjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzU4MjA5OSwiZXhwIjoyMTAzMTU4MDk5fQ.dywf8WYbIxov12pZy9NFbRfRaNRqEJheSd5kzIHjEM8
SUPABASE_DATABASE_URL=
