# dependencies
node_modules
.pnp
.pnp.*

# next
.next
out
next-env.d.ts

# testing
coverage
test-results/
playwright-report/
*.tsbuildinfo

# production
build

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local caches
.npm-cache

# system
.DS_Store
Thumbs.db
